name: test CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  detect-ci-trigger:
    name: Detect CI Trigger using a action
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: ./.github/actions/detect-ci-trigger
        id: detect-trigger
        with:
          keywords: "[skip-ci]"

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: |
      (github.event_name == 'push' || github.event_name == 'pull_request')
      && needs.detect-ci-trigger.outputs.triggered == 'false'
    steps:
      - name: Test toJson
        run: |
          echo "${{ toJson(github.event.commits) }}"
