name: test CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  detect-ci-trigger:
    name: Detect CI Trigger using a action
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/detect-ci-trigger
        id: detect-trigger
        with:
          keywords: "[test-upstream]"

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: detect-ci-trigger
    if: |
      always()
      && github.repository == 'keewis/sphinx-test-project'
      && (
        github.event_name == 'schedule'
        || github.event_name == 'workflow_dispatch'
        || needs.detect-ci-trigger.outputs.triggered == 'true'
      )
    steps:
      - name: Test toJson
        run: |
          echo "${{ toJson(github.event.commits) }}"

  detect-ci-trigger-action:
    name: Detect CI Trigger using a external action
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    outputs:
      triggered: ${{ steps.detect-trigger.outputs.trigger-found }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: keewis/ci-trigger@main
        id: detect-trigger
        with:
          keyword: "[skip-ci]"

  test-action:
    name: Test the external action
    runs-on: ubuntu-latest
    needs: detect-ci-trigger-action
    if: |
      always()
      && github.repository == 'keewis/sphinx-test-project'
      && (
        github.event_name == 'schedule'
        || github.event_name == 'workflow_dispatch'
        || needs.detect-ci-trigger-action.outputs.triggered == 'false'
      )
    steps:
      - name: run something
        run: |
          echo "::group::Group"
          echo "test output"
          echo "::endgroup::"
